<odoo>
    <data>

        <!-- Sub menu sales order line -->
        <menuitem name="Open SO" id="sub_menu_sales_order_line_mrp"
                  parent="mrp.menu_mrp_manufacturing"
                  sequence="112"
                  action="action_product_sale_list"></menuitem>

        <!-- Sub menu buffer tags -->
        <menuitem name="Buffer Tags" id="menu_buffer_tags"
                  parent="mrp.menu_mrp_configuration"
                  sequence="114"
                  action="buffer_tags_action"></menuitem>

        <!-- Sub menu category process -->
        <menuitem name="Category Process" id="menu_category_process"
                  parent="mrp.menu_mrp_configuration"
                  sequence="115"
                  action="category_process_list_action"></menuitem>

        <!-- Sub menu Approval Duedate Kirim -->
        <menuitem id="sub_menu_appdk_mrp" name="Approval Duedate Kirim"
                  parent="mrp.menu_mrp_manufacturing" sequence="113"
                  action="x_app_dk"/>

        <menuitem id="history_duedate_menu2" name="History Duedate"
                  parent="mrp.menu_mrp_manufacturing" sequence="114"
                  action="lpj_cusrequire.list_history_duedate"/>

        <menuitem id="default_duedate" name="Config Duration Duedate"
                  parent="mrp.menu_mrp_configuration" sequence="150"
                  action="config_default_duedate"/>


    </data>
</odoo>