<odoo>
  <data>

    <!-- Sub menu invoice -->
    <menuitem name="Sales to Invoice" id="sub_menu_invoice"
              parent="account.menu_finance_receivables"
              sequence="0"
              action="sale.action_orders_to_invoice"></menuitem>

    <!-- Sub menu sales order -->
    <menuitem name="Sales Order" id="sub_menu_sales_order"
              parent="account.menu_finance_receivables"
              sequence="111"
              action="sale.action_orders"></menuitem>

    <!-- Sub menu kuitansi -->
    <menuitem name="Kuitansi" id="sub_menu_kuitansi"
              parent="account.menu_finance_receivables"
              sequence="112"
              action="kuitansi_list_action"></menuitem>

    <!-- Sub menu kuitansi -->
    <menuitem name="Kuitansi Line" id="sub_menu_kuitansi_line"
              parent="account.menu_finance_receivables"
              sequence="113"
              action="kuitansi_ids_list_action"></menuitem>

    <!-- Sub menu Due date pembayaran -->
    <menuitem name="Due Date Pembayaran" id="sub_menu_pembayaran"
              parent="account.menu_finance_receivables"
              sequence="114"
              action="due_date_pembayaran_action"></menuitem>

    <!-- Sub menu Purchase Order -->
    <menuitem name="Purchase Order" id="sub_menu_po"
              parent="account.menu_finance_payables"
              sequence="115"
              action="purchase.purchase_form_action"></menuitem>

    <!-- Menu Serah Terima SJK -->
    <menuitem name="Serah Terima SJK" id="menu_serah_terima_sjk"
              parent="account.menu_finance"
              sequence="16"
              action="serah_terima_sjk_accounting"></menuitem>

    <!-- Menu Custom Register Payment -->
    <menuitem name="Draft Payments" id="menu_custom_payment"
              parent="account.menu_finance_payables"
              sequence="116"
              action="payment_list_action"></menuitem>

    <!-- Menghilangkan groups =  group base system, menjadi group accounting -->
    <record model="ir.ui.menu" id="account.menu_action_account_moves_all">
      <field name="groups_id" eval="[(6,0,[ref('account.group_account_invoice')])]"/>
    </record>

    <!-- Sub menu down payment -->
    <!--<menuitem name="Down Payment" id="sub_menu_dp"-->
              <!--parent="account.menu_finance_receivables"-->
              <!--sequence="112"-->
              <!--action="action_orders_to_dp"></menuitem>-->

    <!-- Remove menu from module sales/invoicing -->
    <delete model="ir.ui.menu" id="sale.menu_sale_invoicing"/>
    <delete model="ir.ui.menu" id="sale.menu_sale_order_invoice"/>
    <delete model="ir.ui.menu" id="sale.menu_sale_order_upselling"/>

  </data>
</odoo>