<odoo>
    <data>

        <menuitem id="main_approval_odoo_menu" name="PDE" web_icon="lpj_cusrequire,static/icon.png"/>

        <menuitem id="approval_odoo_menu"
                  parent="main_approval_odoo_menu" name="Approval" sequence="5"/>

        <menuitem id="approval_menu" name="Dashboard"
                  parent="main_approval_odoo_menu" action="approval_list_action" sequence="5"/>

        <menuitem id="requirement_menu" name="Customer Req"
                  parent="sales_team.menu_sales" sequence="10"
                  action="requirement_list_action"/>

        <!--<menuitem id="monitoring_input_menu" name="Monitoring Input"-->
                  <!--parent="main_approval_odoo_menu" action="edit_product_action" sequence="11"/>-->

        <!-- <menuitem id="stage_menu" parent="approval_odoo_menu" name="Stage"
            action="stage_list_action"/> -->

    </data>
</odoo>