<odoo>
    <data>

        <menuitem id="main_approval_odoo_menu" name="PDE" web_icon="lpj_cusrequire,static/icon.png"/>

        <menuitem id="approval_odoo_menu"
                  parent="main_approval_odoo_menu" name="Approval" sequence="5"/>

        <menuitem id="approval_menu" name="Dashboard"
                  parent="main_approval_odoo_menu" action="approval_list_action" sequence="5"/>

        <menuitem id="requirement_menu" name="Request Drawing"
                  parent="sales_team.menu_sales" sequence="12"
                  action="requirement_list_action"/>

        <menuitem id="history_duedate_menu" name="History Duedate"
                  parent="sales_team.menu_sales" sequence="100"
                  action="list_history_duedate"/>

        <menuitem name="Open SO" id="sub_menu_sales_order_line_sales"
                  parent="sales_team.menu_sales"
                  sequence="112"
                  action="lpj_manufacturing.action_product_sale_list"></menuitem>

        <!--<menuitem id="config_mesin" name="Config Mesin"-->
                  <!--parent="sub_menu_config" sequence="119"-->
                  <!--action="list_config_mesin"/>-->

	 <menuitem id="x_crm_menu" name="CRM"
		          parent="sales_team.menu_base_partner" sequence="2"/>

	<menuitem id="requirement_crm" name="Product CRM"
                 parent="lpj_cusrequire.x_crm_menu" sequence="100"
                action="crm_list_action"/>

	 <menuitem id="x_next_activity" name="Next Activities"
                  parent="lpj_cusrequire.x_crm_menu" sequence="108"
                  action="x_next_activitypartner"/>

	 <menuitem id="x_history_activity" name="History Activities"
                  parent="lpj_cusrequire.x_crm_menu" sequence="109"
                  action="x_message_tree"/>

     <menuitem id="x_lead_status" name="Lead Status"
                  parent="sales_team.menu_sale_config" sequence="13"
                  action="x_status_lead"/>

          <menuitem id="x_lead_source" name="Lead Source"
                  parent="sales_team.menu_sale_config" sequence="14"
                  action="x_source_lead"/>
         <!--<menuitem id="customer_crm" name="Job Potential"-->
                 <!--parent="sales_team.menu_sales" sequence="100"-->
                <!--action="job_potental_action"/>-->


        <!--<menuitem id="monitoring_input_menu" name="Monitoring Input"-->
                  <!--parent="main_approval_odoo_menu" action="edit_product_action" sequence="11"/>-->

        <!-- <menuitem id="stage_menu" parent="approval_odoo_menu" name="Stage"
            action="stage_list_action"/> -->


        <menuitem name="Sale Order" id="menu_sale_order"
                  parent="sales_team.menu_sales" sequence="15"/>

        <menuitem name="Config Master Precost" id="menu_config_new"
                  groups="base.group_system"
                  parent="sales_team.menu_base_partner"/>

        <menuitem id="config_kategori" name="Config Kategori"
                  parent="menu_config_new" sequence="115"
                  action="list_config_kategori"/>


        <menuitem id="config_bahan_new" name="Config Bahan"
                  parent="menu_config_new" sequence="116"
                  action="list_config_bahan"/>


        <menuitem id="config_feature_new" name="Config Feature"
                  parent="menu_config_new" sequence="117"
                  action="list_config_feature"/>



        <menuitem id="config_tinta_new" name="Config Tinta"
                  parent="menu_config_new" sequence="118"
                  action="list_config_tinta"/>

        <menuitem id="config_plate_new" name="Config Plate"
                  parent="menu_config_new" sequence="119"
                  action="list_plate_cost"/>

        <menuitem id="config_process_new" name="Config Process"
                  parent="menu_config_new" sequence="120"
                  action="list_process_cost"/>

        <menuitem id="config_product_type_new" name="Config Product Type"
                  parent="menu_config_new" sequence="121"
                  action="list_product_type"/>

        <menuitem id="config_diecut_new" name="Config Diecut"
                  parent="menu_config_new" sequence="122"
                  action="list_config_diecut"/>

        <menuitem id="config_profit_margin_new" name="Config Profit Margin"
                  parent="menu_config_new" sequence="123"
                  action="list_profit_margin"/>

        <menuitem id="config_waste_table_new" name="Config Waste Table"
                  parent="menu_config_new" sequence="124"
                  action="list_waste_table"/>

        <menuitem id="config_qty_roundup_new" name="Config Qty Roundup"
                  parent="menu_config_new" sequence="125"
                  action="list_config_qty_roundup"/>




    </data>
</odoo>
