<odoo>
    <data>

        <menuitem id="main_approval_odoo_menu" name="PDE" web_icon="lpj_cusrequire,static/icon.png"/>

        <menuitem id="approval_odoo_menu"
                  parent="main_approval_odoo_menu" name="Approval" sequence="5"/>

        <menuitem id="approval_menu" name="Dashboard"
                  parent="main_approval_odoo_menu" action="approval_list_action" sequence="5"/>

        <menuitem id="requirement_menu" name="Request Drawing"
                  parent="sales_team.menu_sales" sequence="10"
                  action="requirement_list_action"/>

        <menuitem id="history_duedate_menu" name="History Duedate"
                  parent="sales_team.menu_sales" sequence="100"
                  action="list_history_duedate"/>

        <menuitem name="Open SO" id="sub_menu_sales_order_line_sales"
                  parent="sales_team.menu_sales"
                  sequence="112"
                  action="lpj_manufacturing.action_product_sale_list"></menuitem>


	 <menuitem id="x_crm_menu" name="CRM"
		          parent="sales_team.menu_base_partner" sequence="2"/>

	<menuitem id="requirement_crm" name="Product CRM"
                 parent="lpj_cusrequire.x_crm_menu" sequence="100"
                action="crm_list_action"/>

	 <menuitem id="x_next_activity" name="Next Activities"
                  parent="lpj_cusrequire.x_crm_menu" sequence="108"
                  action="x_next_activitypartner"/>

	 <menuitem id="x_history_activity" name="History Activities"
                  parent="lpj_cusrequire.x_crm_menu" sequence="109"
                  action="x_message_tree"/>

     <menuitem id="x_lead_status" name="Lead Status"
                  parent="sales_team.menu_sale_config" sequence="13"
                  action="x_status_lead"/>

          <menuitem id="x_lead_source" name="Lead Source"
                  parent="sales_team.menu_sale_config" sequence="14"
                  action="x_source_lead"/>
         <!--<menuitem id="customer_crm" name="Job Potential"-->
                 <!--parent="sales_team.menu_sales" sequence="100"-->
                <!--action="job_potental_action"/>-->


        <!--<menuitem id="monitoring_input_menu" name="Monitoring Input"-->
                  <!--parent="main_approval_odoo_menu" action="edit_product_action" sequence="11"/>-->

        <!-- <menuitem id="stage_menu" parent="approval_odoo_menu" name="Stage"
            action="stage_list_action"/> -->

    </data>
</odoo>
